<template>
        <div>
            <inertia-link class="btn btn-danger" :href="this.$route('tsetin2')">
                All posts
            </inertia-link>
        </div>
</template>

<script>
    export default {
        props:[
            'name',
            'family'
        ],
    }
</script>
