<template>
    <div>
        <li class="btn btn-light">
            <slot></slot>
        </li>
    </div>
</template>

<script>

    export default {
        name: "v-button",
    }
</script>

<style scoped>
    .btn {
        margin: 5px;
        font-size: 14px;
        width: 100%;
    }
</style>
